<main class="relative my-5">
  <div
    class="grid md:grid-cols-2 gap-y-6 page-width mx-auto px-4 py-5 items-center container page-width"
  >
    <div class="content">
      <h1 class="mb-3 font-semibold text-3xl text-[#0067B1]">
        {{ "dax_cosmetics.title" | translate }}
      </h1>
      <h2 class="mb-4 text-lg text-[##00223B]">
        {{ "dax_cosmetics.subtitle" | translate }}
      </h2>
      <p class="mb-2">{{ "dax_cosmetics.paragraph1" | translate }}</p>
      <p class="mb-2">{{ "dax_cosmetics.paragraph2" | translate }}</p>
      <p class="mb-2">{{ "dax_cosmetics.paragraph3" | translate }}</p>
    </div>

    <div class="img flex justify-end">
      <img class="w-full md:w-3/4" src="/new/new logo.png" alt="" />
    </div>
  </div>
</main>
