<section
  class="overflow-x-hidden relative w-full h-[95vh] flex items-center justify-center bg-cover bg-center"
  style="background-image: url(images/home-hero.webp)"
>
  <!-- Dark Overlay -->
  <div class="absolute top-0 start-0 end-0 w-full inset-0 bg-black/50"></div>

  <!--  Red Shapes -->
  <div class="absolute start-0 z-5">
    <img fetchpriority="high" src="images/Vector.webp" class="w-3/4" />
  </div>

  <!-- Content -->
  <div
    class="relative z-10 ps-3 w-[90%] md:w-[92%] lg:w-[94%] xl:w-[96%] start-[10%] md:start-[8%] lg:start-[6%] xl:start-[4%]"
  >
    <h1 class="text-white text-2xl lg:text-4xl md:text-5xl font-bold uppercase">
      {{ "home.hero.commitment" | translate }} <br />
      <span class="block my-4">{{ "home.hero.betterWorld" | translate }}</span>
    </h1>
    <p class="text-white mt-5 text-xl max-w-1/2">
      {{ "home.hero.description" | translate }}
    </p>
  </div>

  <!-- sidebar -->
  <div
    class="side h-full absolute text-white w-[10%] md:w-[8%] lg:w-[6%] xl:w-[4%] start-0 border-e-2 border-white"
  >
    <div class="flex h-[80%] justify-center mb-3">
      <div class="w-0.5 rounded-b-2xl bg-white opacity-75"></div>
    </div>
    <!-- <div
    class="flex justify-center items-center w-4 h-4 my-3 rounded-full bg-amber-700 border-white border-2"
  >
    <i class="pi pi-facebook text-white"></i>
  </div> -->
    <div
      class="icons flex flex-col space-y-3 justify-center items-center relative z-9"
    >
      <div
        class="group hover:border-[#00348D] transition flex justify-center items-center icon md:w-12 md:h-12 w-8 h-8 border-2 border-white rounded-full hover:borderred-600"
      >
        <a
          href="https://www.youtube.com/@MentholatumArabia"
          class="cursor-pointer flex justify-center items-center"
        >
          <i
            class="pi pi-youtube text-white group-hover:text-[#00348D] transition text-xl md:text-3xl"
          ></i
        ></a>
      </div>

      <div
        class="group hover:border-[#00348D] transition flex justify-center items-center icon md:w-12 md:h-12 w-8 h-8 border-2 border-white rounded-full hover:borderred-600"
      >
        <a
          href="https://www.pinterest.com/mentholatumarabia/"
          class="cursor-pointer flex justify-center items-center"
        >
          <i
            class="pi pi-pinterest text-white group-hover:text-[#00348D] transition text-xl md:text-3xl"
          ></i
        ></a>
      </div>

      <!-- <div
      class="group hover:border-[#00348D] transition flex justify-center items-center icon md:w-10 md:h-10 w-7 h-7 border-2 border-white rounded-full hover:borderred-600"
    >
      <a href="#" class="">
        <i
          class="pi pi-facebook text-white group-hover:text-[#00348D] transition"
        ></i
      ></a>
    </div>
    <div
      class="group hover:border-[#00348D] transition flex justify-center items-center icon md:w-10 md:h-10 w-7 h-7 border-2 border-white rounded-full hover:borderred-600"
    >
      <a href="#" class="">
        <i
          class="pi pi-linkedin text-white group-hover:text-[#00348D] transition"
        ></i
      ></a>
    </div>
    <div
      class="group hover:border-[#00348D] transition flex justify-center items-center icon md:w-10 md:h-10 w-7 h-7 border-2 border-white rounded-full hover:borderred-600"
    >
      <a href="#" class="">
        <i
          class="pi pi-twitter text-white group-hover:text-[#00348D] transition"
        ></i
      ></a>
    </div> -->
    </div>
  </div>
</section>
