<main class="relative w-full overflow-hidden">
  <app-hero-background
    [bgImage]="'new/8c7143aa7df9b388214a669834ec8bf0d5940e74.png'"
    [isHome]="false"
  >
    <h1
      class="w-[45%] mx-auto container text-white text-2xl md:text-3xl lg:text-5xl font-bold text-center leading-normal"
    >
      {{ "privacy_policy.title" | translate }}
    </h1>
  </app-hero-background>

  <div class="content page-width px-4 container mx-auto">
    <section class="my-8">
      <div class="grid md:grid-cols-2 gap-y-5">
        <div class="content">
          <h1 class="mb-3 text-2xl font-bold">
            {{ "privacy_policy.title" | translate }}
          </h1>
          <p class="mb-3 text-[#0067B1]">
            {{ "privacy_policy.subtitle" | translate }}
          </p>

          <h3 class="mb-2 text-xl font-semibold">
            {{ "privacy_policy.introduction.title" | translate }}
          </h3>
          <p class="mb-3">
            {{ "privacy_policy.introduction.description" | translate }}
          </p>

          <h3 class="mb-2 text-xl font-semibold">
            {{ "privacy_policy.data_privacy.title" | translate }}
          </h3>
          <p class="mb-3">
            {{ "privacy_policy.data_privacy.description" | translate }}
          </p>
        </div>
        <div class="img flex justify-end -order-1 md:order-none">
          <img class="w-full md:w-3/4" src="/new/new logo.png" alt="" />
        </div>
      </div>
    </section>

    <div class="policy-sections grid md:grid-cols-2 gap-8 my-12">
      <section class="mb-8">
        <h3 class="text-xl font-bold mb-3 text-[#0067B1] flex items-center">
          <img src="/new/elements (1).svg" class="me-2 w-8" alt="" />
          {{ "privacy_policy.data_collection.title" | translate }}
        </h3>
        <p class="text-lg">
          {{ "privacy_policy.data_collection.description" | translate }}
        </p>
      </section>

      <section class="mb-8">
        <h3 class="text-xl font-bold mb-3 text-[#0067B1] flex items-center">
          <img src="/new/elements (1).svg" class="me-2 w-8" alt="" />
          {{ "privacy_policy.usage.title" | translate }}
        </h3>
        <p class="text-lg">
          {{ "privacy_policy.usage.description" | translate }}
        </p>
      </section>

      <section class="mb-8">
        <h3 class="text-xl font-bold mb-3 text-[#0067B1] flex items-center">
          <img src="/new/elements (1).svg" class="me-2 w-8" alt="" />
          {{ "privacy_policy.data_retention.title" | translate }}
        </h3>
        <p class="text-lg">
          {{ "privacy_policy.data_retention.description" | translate }}
        </p>
      </section>

      <section class="mb-8">
        <h3 class="text-xl font-bold mb-3 text-[#0067B1] flex items-center">
          <img src="/new/elements (1).svg" class="me-2 w-8" alt="" />
          {{ "privacy_policy.data_sharing.title" | translate }}
        </h3>
        <p class="text-lg">
          {{ "privacy_policy.data_sharing.description" | translate }}
        </p>
      </section>

      <section class="mb-8">
        <h3 class="text-xl font-bold mb-3 text-[#0067B1] flex items-center">
          <img src="/new/elements (1).svg" class="me-2 w-8" alt="" />
          {{ "privacy_policy.cookies.title" | translate }}
        </h3>
        <p class="text-lg">
          {{ "privacy_policy.cookies.description" | translate }}
        </p>
      </section>

      <section class="mb-8">
        <h3 class="text-xl font-bold mb-3 text-[#0067B1] flex items-center">
          <img src="/new/elements (1).svg" class="me-2 w-8" alt="" />
          {{ "privacy_policy.your_rights.title" | translate }}
        </h3>
        <p class="text-lg">
          {{ "privacy_policy.your_rights.description" | translate }}
        </p>
      </section>

      <section class="mb-8">
        <h3 class="text-xl font-bold mb-3 text-[#0067B1] flex items-center">
          <img src="/new/elements (1).svg" class="me-2 w-8" alt="" />
          {{ "privacy_policy.limited_license.title" | translate }}
        </h3>
        <p class="text-lg">
          {{ "privacy_policy.limited_license.description" | translate }}
        </p>
      </section>

      <section class="mb-8">
        <h3 class="text-xl font-bold mb-3 text-[#0067B1] flex items-center">
          <img src="/new/elements (1).svg" class="me-2 w-8" alt="" />
          {{ "privacy_policy.policy_updates.title" | translate }}
        </h3>
        <p class="text-lg">
          {{ "privacy_policy.policy_updates.description" | translate }}
        </p>
      </section>

      <section class="mb-8">
        <h3 class="text-xl font-bold mb-3 text-[#0067B1] flex items-center">
          <img src="/new/new logo.png" class="me-2 w-8" alt="" />
          {{ "privacy_policy.enforceability.title" | translate }}
        </h3>
        <p class="text-lg">
          {{ "privacy_policy.enforceability.description" | translate }}
        </p>
      </section>
    </div>
  </div>
</main>
