<section class="my-8 py-10 text-[#003DA6] relative overflow-hidden">
  <div class="page-width mx-auto">
    <h2 class="mb-8 text-center font-bold text-3xl">
      {{ "about.ourPhilosophy.sectionTitle" | translate }}
    </h2>
    <div class="grid lg:grid-cols-2 items-center justify-between mx-auto px-4">
      <div class="w-full" [attr.dir]="currentLang() === 'ar' ? 'rtl' : 'ltr'">
        <div class="w-full time-line">
          <p-timeline
            [attr.dir]="currentLang() === 'ar' ? 'rtl' : 'ltr'"
            [value]="events"
            styleClass="customized-timeline"
            class=""
            [align]="currentLang() === 'ar' ? 'right' : 'left'"
          >
            <ng-template #marker let-event>
              <span
                class="flex w-20 h-20 items-center justify-center text-white rounded-full z-10 shadow-sm bg-white"
              >
                <img loading="lazy" src="{{ event.icon }}" class="w-12" alt="" />
              </span>
            </ng-template>
            <ng-template #content let-event>
              <div class="my-5">
                <h2 class="mb-3 text-xl font-bold text-black">
                  {{ event.h }}
                </h2>
                <p class="mb-3 text-black">
                  {{ event.p }}
                </p>
              </div>
            </ng-template>
          </p-timeline>
        </div>
      </div>

      <div
        class="w-full relative z-10 lg:mt-0 flex justify-center md:justify-end -order-1 lg:order-none"
      >
        <img loading="lazy" src="images/about/3 (2).webp"
          class="w-full lg:w-[80%] shadow"
          alt="Our Philosophy - Mentholatum Arabia"
        />
      </div>
    </div>
  </div>
  <img loading="lazy" src="images/Vector (11).webp"
    class="absolute top-1/2 -translate-y-1/2 right-0 w-1/6"
    alt=""
  />
</section>
