<section class="my-8 py-10 relative">
  <div class="mx-auto page-width">
    <div class="grid grid-cols-1 lg:grid-cols-2">
      <div>
        <div class="">
          <h2 class="text-red-500 font-semibold mb-2 flex items-center">
            <span class="block h-0.5 w-6 bg-red-500 me-2"></span>
            {{ "about.whoWeAre.sectionTitle" | translate }}
          </h2>
          <p
            class="text-xl md:text-3xl lg:text-4xl mb-3 font-bold capitalize leading-normal md:leading-none w-[80%]"
          >
            {{ "about.whoWeAre.mainHeading" | translate }}
          </p>
        </div>
      </div>
      <div>
        <p class="mb-2">
          {{ "about.whoWeAre.paragraph1" | translate }}
        </p>

        <p class="mb-2">
          {{ "about.whoWeAre.paragraph2" | translate }}
        </p>
        <p class="mb-2">
          {{ "about.whoWeAre.paragraph3" | translate }}
        </p>
      </div>
    </div>
  </div>
  <img
    src="images/Vector (10).png"
    class="absolute z-0 w-96 top-1/2 translate-y-[-50%]"
    alt=""
  />
</section>
