<section
  class="w-full h-[85vh] bg-center bg-cover"
  style="
    background-image: url(new/8c7143aa7df9b388214a669834ec8bf0d5940e74.webp);
  "
>
  <div
    class="layer w-full h-[85vh] bg-[rgba(0,0,0,.2)] flex justify-center items-center"
  >
    <div class="content text-white max-w-[70%] lg:max-w-[50%] text-center">
      <h1 class="text-white text-5xl font-bold mb-8">
        {{ "contact.hero.title" | translate }}
      </h1>
      <!-- <p>{{ "contact.hero.intro" | translate }}</p>
      <p>{{ "contact.hero.description" | translate }}</p> -->
    </div>
  </div>
</section>
