@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

@import "tailwindcss";
@plugin "tailwindcss-primeui";
* {
  scroll-behavior: smooth;
}

[dir="ltr"] * {
  font-family: "Poppins", sans-serif;
}

[dir="rtl"] * {
  font-family: "Tajawal", sans-serif;
}

button {
  cursor: pointer;
}

.page-width {
  max-width: 1400px;
  margin: auto;
  padding-inline: 1rem;
}
.layer {
  min-width: 100%;
}
.blue {
  color: blue;
}

.p-galleria-nav-button {
  position: absolute !important;
  top: unset !important;
  bottom: 30px !important;
  z-index: 30;
}

.p-galleria-next-button {
  right: 50% !important;
  transform: translate(calc(50% + 40px));
  z-index: 30;
}

.p-galleria-prev-button {
  left: 50% !important;
  transform: translate(calc(-50% - 40px));
  z-index: 30;
}

.p-galleria-prev-button:dir(rtl) {
  transform: translateX(-50%) !important;
  left: calc(50% - 40px) !important;
  right: unset !important;
  z-index: 30;
}

.p-galleria-next-button:dir(rtl) {
  right: calc(50% - 40px) !important;
  left: unset !important;
  transform: translateX(50%) !important;
  z-index: 30;
}
.gray-skeleton .p-skeleton {
  background-color: #e5e7eb !important; /* Tailwind's gray-200 */
  animation: none !important; /* Remove shimmer animation if you want solid */
}

.gray-skeleton .p-skeleton::after {
  background: none !important; /* Remove the shimmer gradient */
}

.ql-align-center {
  text-align: center;
}
.ql-align-right {
  text-align: right;
}
.ql-align-left {
  text-align: left;
}
p.ql-align-center img {
  text-align: center;
  display: block;
  margin-inline: auto;
}

@media screen and (max-width: screen(md)) {
  .slideOutContent {
    width: 100% !important;
  }
  .p-drawer-right {
    top: 0;
    right: 0;
    width: 80%;
    height: 100%;
    padding-inline: 12px;
  }
}
/* [innerHTML] div {
  display: block;
  margin-bottom: 0.5rem;
  white-space: pre-wrap;
} */
