<section>
  <section class="mx-auto py-14">
    <!-- Category Tabs -->

    <!-- Products Grid -->
    <div class="grid gap-16">
      <!-- Product Item 1 -->
      <div
        class="flex flex-col lg:flex-row items-center justify-between gap-6 bg-white p-6"
      >
        <img loading="lazy" src="/new/deep heat2.webp"
          alt="Deep Heat"
          class="w-full lg:w-[50%] aspect-[29/15] rounded-md order-1"
        />
        <div class="lg:w-1/2 text-center lg:text-left order-2">
          <h2 class="text-2xl font-bold pb-2 w-fit">
            {{ "brands.deep_heat.title" | translate }}
          </h2>
          <p class="text-gray-600 my-4 text-start">
            {{ "brands.deep_heat.description" | translate }}
          </p>
          <div class="flex gap-4 justify-center lg:justify-start">
            <button
              routerLink="/shop"
              [queryParams]="{ brand: 'deep heat' }"
              class="px-4 py-2 bg-[#0067B1] hover:bg-[#00348D] text-white rounded-full"
            >
              {{ "brands.deep_heat.shop_now" | translate }}
            </button>
            <a [routerLink]="['/brand/23']">
              <button
                class="px-4 py-2 border rounded-full text-[#0067B1] border-[#0067B1]"
              >
                {{ "brands.deep_heat.learn_more" | translate }}
              </button>
            </a>
          </div>
        </div>
      </div>

      <!-- Product Item 2 -->
      <div
        class="flex flex-col lg:flex-row items-center justify-between gap-6 bg-white p-6"
      >
        <img loading="lazy" src="/new/deep freeze 2.webp"
          alt="Deep Freeze"
          class="w-full lg:w-[50%] aspect-[29/15] rounded-md order-1 lg:order-2"
        />
        <div class="lg:w-1/2 text-center lg:text-left order-2 lg:order-1">
          <h2 class="text-2xl font-bold pb-2 w-fit">
            {{ "brands.deep_freeze.title" | translate }}
          </h2>
          <p class="text-gray-600 my-4 text-start">
            {{ "brands.deep_freeze.description" | translate }}
          </p>
          <div class="flex gap-4 justify-center lg:justify-start">
            <button
              routerLink="/shop"
              [queryParams]="{ brand: 'deep freeze' }"
              class="px-4 py-2 bg-[#0067B1] hover:bg-[#00348D] text-white rounded-full"
            >
              {{ "brands.deep_freeze.shop_now" | translate }}
            </button>
            <a [routerLink]="['/brand/24']">
              <button
                class="px-4 py-2 border rounded-full text-[#0067B1] border-[#0067B1]"
              >
                {{ "brands.deep_freeze.learn_more" | translate }}
              </button>
            </a>
          </div>
        </div>
      </div>

      <!-- Product Item 3 -->
      <div
        class="flex flex-col lg:flex-row items-center justify-between gap-6 bg-white p-6"
      >
        <img loading="lazy" src="/new/deep relief2.webp"
          alt="Deep Relief"
          class="w-full lg:w-[50%] aspect-[29/15] rounded-md order-1"
        />
        <div class="lg:w-1/2 text-center lg:text-left order-2">
          <h2 class="text-2xl font-bold pb-2 w-fit">
            {{ "brands.deep_relief.title" | translate }}
          </h2>
          <p class="text-gray-600 my-4 text-start">
            {{ "brands.deep_relief.description" | translate }}
          </p>
          <div class="flex gap-4 justify-center lg:justify-start">
            <button
              routerLink="/shop"
              [queryParams]="{ brand: 'deep relief' }"
              class="px-4 py-2 bg-[#0067B1] hover:bg-[#00348D] text-white rounded-full"
            >
              {{ "brands.deep_relief.shop_now" | translate }}
            </button>
            <a [routerLink]="['/brand/25']">
              <button
                class="px-4 py-2 border rounded-full text-[#0067B1] border-[#0067B1]"
              >
                {{ "brands.deep_relief.learn_more" | translate }}
              </button>
            </a>
          </div>
        </div>
      </div>

      <!-- Product Item 4 -->
      <div
        class="flex flex-col lg:flex-row items-center justify-between gap-6 bg-white p-6"
      >
        <img loading="lazy" src="/new/hada labu 2.webp"
          alt="Hada Labo Tokyo"
          class="w-full lg:w-[50%] aspect-[29/15] rounded-md order-1 lg:order-2"
        />
        <div class="lg:w-1/2 text-center lg:text-left order-2 lg:order-1">
          <h2 class="text-2xl font-bold pb-2 w-fit">
            {{ "brands.hada_labo.title" | translate }}
          </h2>
          <p class="text-gray-600 my-4 text-start">
            {{ "brands.hada_labo.description" | translate }}
          </p>
          <div class="flex gap-4 justify-center lg:justify-start">
            <button
              routerLink="/shop"
              [queryParams]="{ brand: 'hada labo' }"
              class="px-4 py-2 bg-[#0067B1] hover:bg-[#00348D] text-white rounded-full"
            >
              {{ "brands.hada_labo.shop_now" | translate }}
            </button>
            <a [routerLink]="['/brand/26']">
              <button
                class="px-4 py-2 border rounded-full text-[#0067B1] border-[#0067B1]"
              >
                {{ "brands.hada_labo.learn_more" | translate }}
              </button>
            </a>
          </div>
        </div>
      </div>

      <!-- Product Item 5 -->
      <div
        class="flex flex-col lg:flex-row items-center justify-between gap-6 bg-white p-6"
      >
        <img loading="lazy" src="/new/rohto2-01.webp"
          alt="Rohto"
          class="w-full lg:w-[50%] aspect-[29/15] rounded-md order-1"
        />
        <div class="lg:w-1/2 text-center lg:text-left order-2">
          <h2 class="text-2xl font-bold pb-2 w-fit">
            {{ "brands.rohto.title" | translate }}
          </h2>
          <p class="text-gray-600 my-4 text-start">
            {{ "brands.rohto.description" | translate }}
          </p>
          <div class="flex gap-4 justify-center lg:justify-start">
            <button
              routerLink="/shop"
              [queryParams]="{ brand: 'rohto' }"
              class="px-4 py-2 bg-[#0067B1] hover:bg-[#00348D] text-white rounded-full"
            >
              {{ "brands.rohto.shop_now" | translate }}
            </button>
            <a [routerLink]="['/brand/27']">
              <button
                class="px-4 py-2 border rounded-full text-[#0067B1] border-[#0067B1]"
              >
                {{ "brands.rohto.learn_more" | translate }}
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
