<section class="py-10 md:py-18 page-width mx-auto">
  <div class="hidden md:block">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <!-- Symptom Checker -->
      <div
        class="col-span-1 mb-0 p-6 rounded-lg hover:shadow-lg transition-all duration-200 text-center flex flex-col items-center gap-4"
        [attr.dir]="currentLang() === 'ar' ? 'rtl' : 'ltr'"
      >
        <a routerLink="/symptom-checker-v2">
          <div class="flex justify-center">
            <div
              class="text-3xl flex justify-center items-center bg-[#0067B1] hover:bg-[#00348D] w-20 h-20 rounded-full"
            >
              <img loading="lazy" src="new/Symptom Checker.webp"
                class="block w-3/4 mx-auto"
                alt=""
              />
            </div>
          </div>
          <div>
            <h3 class="text-xl font-bold my-3 text-[#525252]">
              {{ "home.features.symptomChecker.title" | translate }}
            </h3>
            <p class="w-3/4 mx-auto">
              {{ "home.features.symptomChecker.description" | translate }}
            </p>
            <div class="my-5">
              <!-- <p-button
                severity="secondary"
                [rounded]="true"
                label="{{
                  'home.features.symptomChecker.buttonText' | translate
                }}"
              /> -->
              <button
                class="rounded-full px-6 py-3 bg-white border border-[#0067B1] text-[#0067B1] font-semibold"
              >
                {{ "home.features.symptomChecker.buttonText" | translate }}
              </button>
            </div>
          </div>
        </a>
      </div>

      <!-- Blink Test -->
      <div
        class="col-span-1 mb-0 p-6 rounded-lg hover:shadow-lg transition-all duration-200 text-center flex flex-col items-start gap-4"
        [attr.dir]="currentLang() === 'ar' ? 'rtl' : 'ltr'"
      >
        <a (click)="openBlink()" class="block w-full cursor-pointer">
          <div class="flex justify-center">
            <div
              class="text-3xl flex justify-center items-center bg-[#0067B1] hover:bg-[#00348D] w-20 h-20 rounded-full"
            >
              <img loading="lazy" src="new/Blink Test.webp"
                class="block w-3/4 mx-auto"
                alt=""
              />
            </div>
          </div>
          <div>
            <h3 class="text-xl font-bold my-3 text-[#525252]">
              {{ "home.features.blinkTest.title" | translate }}
            </h3>
            <p class="w-3/4 mx-auto">
              {{ "home.features.blinkTest.description" | translate }}
            </p>

            <div class="my-5">
              <!-- <p-button
                (click)="openBlink()"
                severity="secondary"
                [rounded]="true"
                label="  {{ 'home.features.blinkTest.buttonText' | translate }}"
              /> -->

              <button
                (click)="openBlink()"
                class="rounded-full px-6 py-3 bg-white border border-[#0067B1] text-[#0067B1] font-semibold"
              >
                {{ "home.features.blinkTest.buttonText" | translate }}
              </button>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <!--  -->
  <div class="card block md:hidden">
    <p-carousel
      [value]="tests"
      [numVisible]="1"
      [draggable]="true"
      [numScroll]="3"
      [circular]="false"
      [responsiveOptions]="responsiveOptions"
      [showNavigators]="false"
      [autoplayInterval]="5000"
      [dir]="currentLang() === 'ar' ? 'rtl' : 'ltr'"
    >
      <ng-template let-test #item>
        <div
          style="height: 100% !important"
          class="mb-0 py-6 rounded-lg hover:shadow-lg transition-all duration-200 text-center"
          [attr.dir]="currentLang() === 'ar' ? 'rtl' : 'ltr'"
        >
          <!-- Internal link using routerLink -->
          <a
            *ngIf="!test.link.startsWith('http')"
            [routerLink]="test.link"
            [style.direction]="
              currentLang() === 'ar' ? 'rtl !important' : 'ltr !important'
            "
          >
            <ng-container
              *ngTemplateOutlet="carouselContent; context: { test: test }"
            ></ng-container>
          </a>

          <!-- External link using href -->
          <a
            *ngIf="test.link.startsWith('http')"
            [href]="test.link"
            target="_blank"
            rel="noopener"
            [style.direction]="
              currentLang() === 'ar' ? 'rtl !important' : 'ltr !important'
            "
          >
            <ng-container
              *ngTemplateOutlet="carouselContent; context: { test: test }"
            ></ng-container>
          </a>

          <!-- Shared content inside the card -->
          <ng-template #carouselContent let-test="test">
            <div class="flex justify-center">
              <div
                class="flex justify-center items-center w-20 h-20 rounded-full bg-[#0067B1] hover:bg-[#00348D]"
              >
                <img loading="lazy" [src]="test.imgSrc" class="block w-3/4 mx-auto" alt="" />
              </div>
            </div>
            <div class="flex flex-col justify-between min-h-[180px]">
              <h3 class="text-xl font-bold my-3 text-[#525252]">
                {{ test.title | translate }}
              </h3>
              <p class="w-4/5 mx-auto">
                {{ test.description | translate }}
              </p>
              <div class="my-5">
                <p-button
                  severity="secondary"
                  [rounded]="true"
                  [label]="test.Button | translate"
                ></p-button>
              </div>
            </div>
          </ng-template>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</section>
